@import url('https://fonts.googleapis.com/css?family=Fira+Mono');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300');

html{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Fira Sans', Arial, sans-serif;
    background-color: #fbfbfb;
    margin: 0;
}

header{
    background-color: #369;
    padding: 30px 20px;
    color: #fff;
}

h1{
    font-family: 'Source Sans Pro', 'Fira Sans', Arial, sans-serif;
    font-weight: 300;
    margin: 0;
}

#content{
    padding: 20px;
}

#content h3{
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-weight: 300;
    font-size: 1.8em;
    margin-bottom: 5px;

}

.log{
    padding: 15px;
    padding-bottom: 10px; /* offset the last log row */
    background-color: #5b9bc2;
    box-shadow: 0 0 5px darkgrey;
    margin-bottom: 30px;
    max-width: calc(100vw/3);
    page-break-inside: avoid;
}

.logRow{
    margin-bottom: 5px;
    font-family: 'Fira Mono', Arial, sans-serif;
}

.log .logKey{
    border: 1px solid #000;
    padding: 5px 10px;
    width: 200px;
    color: #fff;
    font-weight: bold;
    text-align: right;
    background-color: #000;
    display: inline-block;
}

.log .logValue{
    display: inline-block;
    border: 1px solid grey;
    background-color: #fff;
    padding: 5px 10px;
    vertical-align: top;
}

